<div class="footer-wrapper">
	<footer class="footer-container">
		<ul>
			<li>
				<span class="footer-copyright">© 2020 TeeMate</span>
			</li>
			<li>
				<a class="footer-link" href="/">Terms</a>
			</li>
			<li>
				<NuxtLink class="footer-ico header-title" to="/home">
					<img class="account-image" height="32px" width="32px" src="~/assets/logo.png" alt="">
					<span>TeeMate<sup>TM</sup></span>
				</NuxtLink>
			</li>
			<li>
				<a class="footer-link" href="/">Contact</a>
			</li>
			<li>
				<a class="footer-link" href="/">About</a>
			</li>
		</ul>
	</footer>
</div>