<div class="navbar-wrapper">
	<nav class="navbar-container">
		<ul class="navbar-ul">
			<li class="navbar-item">
				<NuxtLink class="menu-item" to="/projects">
					<div class="item-icon fas fa-hammer">
						<!-- <span class="notif-count">{{ jsonData[0].navbar_menu[0].count }}</span> -->
					</div>
					<span class="text-item">{{ jsonData[0].navbar_menu[0].text }}</span>
				</NuxtLink>
			</li>
			<li class="navbar-item">
				<NuxtLink class="menu-item" to="/zero">
					<div class="item-icon fas fa-check">
						<!-- <span class="notif-count">{{ jsonData[0].navbar_menu[1].count }}</span> -->
					</div>
					<span class="text-item">{{ jsonData[0].navbar_menu[1].text }}</span>
				</NuxtLink>
			</li>
			<li class="navbar-item">
				<NuxtLink class="menu-item" to="/zero">
					<div class="item-icon fas fa-comment">
						<!-- <span class="notif-count">{{ jsonData[0].navbar_menu[2].count }}</span> -->
					</div>
					<span class="text-item">{{ jsonData[0].navbar_menu[2].text }}</span>
				</NuxtLink>
			</li>
			<li class="navbar-item">
				<NuxtLink class="menu-item" to="/zero">
					<div class="item-icon fas fa-handshake">
						<!-- <span class="notif-count">{{ jsonData[0].navbar_menu[3].count }}</span> -->
					</div>
					<span class="text-item">{{ jsonData[0].navbar_menu[3].text }}</span>
				</NuxtLink>
			</li>
			<li class="navbar-item">
				<NuxtLink class="menu-item" to="/zero">
					<div class="item-icon fas fa-users">
						<!-- <span class="notif-count">{{ jsonData[0].navbar_menu[4].count }}</span> -->
					</div>
					<span class="text-item">{{ jsonData[0].navbar_menu[4].text }}</span>
				</NuxtLink>
			</li>
			<li class="navbar-item">
				<NuxtLink class="menu-item" to="/zero">
					<div class="item-icon fas fa-bookmark">
						<!-- <span class="notif-count">{{ jsonData[0].navbar_menu[5].count }}</span> -->
					</div>
					<span class="text-item">{{ jsonData[0].navbar_menu[5].text }}</span>
				</NuxtLink>
			</li>
			<li class="navbar-item">
				<NuxtLink class="menu-item" to="/zero">
					<div class="item-icon fas fa-question">
						<!-- <span class="notif-count">{{ jsonData[0].navbar_menu[6].count }}</span> -->
					</div>
					<span class="text-item">{{ jsonData[0].navbar_menu[6].text }}</span>
				</NuxtLink>
			</li>
		</ul>
	</nav>
</div>