<div class="header-wrapper">
	<span class="progress-bar">
		<span class="progress-item" style="width: 0%;"></span>
	</span>
	<header class="header-container">
		<div class="navbar-header">
			<NuxtLink class="header-title" to="/home">
				<img class="account-image" height="32px" width="32px" src="~/assets/logo.png" alt="">
				<span>TeeMate<sup>TM</sup></span>
			</NuxtLink>
		</div>
		<!-- <div class="header-center">
			<ul>
				<li class="header-item">
					<NuxtLink class="header-menu-item" to="/">
						<span class="header-icon fas fa-hammer"></span>
					</NuxtLink>
				</li>
				<li class="header-item">
					<NuxtLink class="header-menu-item" to="/">
						<span class="header-icon fas fa-check"></span>
					</NuxtLink>
				</li>
				<li class="header-item">
					<NuxtLink class="header-menu-item" to="/">
						<span class="header-icon fas fa-comment"></span>
					</NuxtLink>
				</li>
				<li class="header-item">
					<NuxtLink class="header-menu-item" to="/">
						<span class="header-icon fas fa-handshake"></span>
					</NuxtLink>
				</li>
				<li class="header-item">
					<NuxtLink class="header-menu-item" to="/">
						<span class="header-icon fas fa-user-friends"></span>
					</NuxtLink>
				</li>
				<li class="header-item">
					<NuxtLink class="header-menu-item" to="/">
						<span class="header-icon fas fa-bookmark"></span>
					</NuxtLink>
				</li>
				<li class="header-item">
					<NuxtLink class="header-menu-item" to="/">
						<span class="header-icon fas fa-question"></span>
					</NuxtLink>
				</li>
			</ul>
		</div> -->
		<div class="header-right">
			<div class="notif-item">
				<a class="fas fa-bell" href="/"><span class="notif-point"></span></a>
			</div>
			<div class="account-menu" v-on:click="visible = !visible" v-on-clickaway="away">
				<button class="account-button">
					<figure class="account-avatar">
						<img class="account-image" height="28px" width="28px" src="~/assets/logo.png" alt="">
					</figure>
					<span class="account-username">yorrdt</span>
					<span class="dropdown" :class="[visible ? 'fas fa-angle-up' : 'fas fa-angle-down']"></span>
				</button>
				<ul class="dropdown-menu" v-show="visible">
					<li>
						<NuxtLink class="dropdown-menu-item" to="/profile">{{ jsonData[0].dropdown_menu[0].text }}</NuxtLink>
					</li>
					<li>
						<NuxtLink class="dropdown-menu-item" to="/home">{{ jsonData[0].dropdown_menu[1].text }}</NuxtLink>
					</li>
					<li>
						<NuxtLink class="dropdown-menu-item" to="/home">{{ jsonData[0].dropdown_menu[2].text }}</NuxtLink>
					</li>
					<hr></hr>
					<li>
						<NuxtLink class="dropdown-menu-item" to="/">{{ jsonData[0].dropdown_menu[3].text }}</NuxtLink>
					</li>
				</ul>
			</div>
		</div>
	</header>
</div>
