<main class="i-main-container">
	<div class="i-header-wrapper">
		<header class="i-header-container">
			<div class="i-brand-item">
				<a class="i-header-title" href="/">TeeMate</a>
			</div>
			<nav class="i-header-nav">
				<ul class="i-nav-ul">
					<li class="i-header-item">
						<a href="/" class="i-signin-item">Войти</a>
					</li>
					<li class="i-header-item">
						<a href="/" class="i-signup-item">Зарегистрироваться</a>
					</li>
				</ul>
			</nav>
			<div class="i-mobile-navi">
				<a class="i-hamburger-wrapper-ref" href="/">
					<div class="i-hamburger">
						<div class="i-ham1"></div>
						<div class="i-ham2"></div>
						<div class="i-ham3"></div>
					</div>
				</a>
			</div>
		</header>
	</div>
	<div class="content-wrapper"></div>
	<div class="footer-wrapper"></div>
</main>