<div class="main-container">
	<div class="header-wrapper">
		<span class="progress-bar">
			<span class="progress-item" style="width: 0%;"></span>
		</span>
		<header class="header-container">
			<div class="navbar-header">
				<a class="header-title" href="/">
					<img class="account-image" height="32px" width="32px" src="../assets/logo.png" alt="">
					<span>TeeMate<sup>TM</sup></span>
				</a>
			</div>
			<div class="header-right">
				<div class="notif-item">
					<a class="fas fa-bell" href="/"><span class="notif-point"></span></a>
				</div>
				<div class="account-menu" v-on:click="visible = !visible" v-on-clickaway="away">
					<button class="account-button">
						<figure class="account-avatar">
							<img class="account-image" height="28px" width="28px" src="../assets/logo.png" alt="">
						</figure>
						<span class="account-username">yorrdt</span>
						<span class="dropdown" :class="[visible ? 'fas fa-angle-up' : 'fas fa-angle-down']"></span> 
					</button>
					<ul class="dropdown-menu" v-show="visible">
						<li>
							<a class="dropdown-menu-item" href="/" target="_blank">{{ jsonData[0].dropdown_menu[0].ru }}</a>
						</li>
						<li>
							<a class="dropdown-menu-item" href="/" target="_blank">{{ jsonData[0].dropdown_menu[1].ru }}</a>
						</li>
						<li>
							<a class="dropdown-menu-item" href="/" target="_blank">{{ jsonData[0].dropdown_menu[2].ru }}</a>
						</li>
						<hr></hr>
						<li>
							<a class="dropdown-menu-item" href="/" target="_blank">{{ jsonData[0].dropdown_menu[3].ru }}</a>
						</li>
					</ul>
				</div>
				<div></div>
			</div>
			<div class="mobile-navi">
				<a class="hamburger-wrapper-ref" href="/">
					<div class="hamburger">
						<div class="ham1"></div>
						<div class="ham2"></div>
						<div class="ham3"></div>
					</div>
				</a>
			</div>
		</header>
	</div>
	<div class="content-wrapper">
		<main class="content-container">
			<div class="navbar-wrapper">
				<nav class="navbar-container">
					<ul class="navbar-ul">
						<li class="navbar-item">
							<a class="menu-item" href="/">
								<div class="item-icon fas fa-hammer">
									<span class="notif-count">{{ jsonData[0].navbar_menu[0].count }}</span>
								</div>
								<span class="text-item">{{ jsonData[0].navbar_menu[0].ru }}</span>
							</a>
						</li>
						<li class="navbar-item">
							<a class="menu-item" href="/">
								<div class="item-icon fas fa-check">
									<span class="notif-count">{{ jsonData[0].navbar_menu[1].count }}</span>
								</div>
								<span class="text-item">{{ jsonData[0].navbar_menu[1].ru }}</span>
							</a>
						</li>
						<li class="navbar-item">
							<a class="menu-item" href="/">
								<div class="item-icon fas fa-comment">
									<span class="notif-count">{{ jsonData[0].navbar_menu[2].count }}</span>
								</div>
								<span class="text-item">{{ jsonData[0].navbar_menu[2].ru }}</span>
							</a>
						</li>
						<li class="navbar-item">
							<a class="menu-item" href="/">
								<div class="item-icon fas fa-handshake">
									<span class="notif-count">{{ jsonData[0].navbar_menu[3].count }}</span>
								</div>
								<span class="text-item">{{ jsonData[0].navbar_menu[3].ru }}</span>
							</a>
						</li>
						<li class="navbar-item">
							<a class="menu-item" href="/">
								<div class="item-icon fas fa-quote-right">
									<span class="notif-count">{{ jsonData[0].navbar_menu[4].count }}</span>
								</div>
								<span class="text-item">{{ jsonData[0].navbar_menu[4].ru }}</span>
							</a>
						</li>
						<li class="navbar-item">
							<a class="menu-item" href="/">
								<div class="item-icon fas fa-star">
									<span class="notif-count">{{ jsonData[0].navbar_menu[5].count }}</span>
								</div>
								<span class="text-item">{{ jsonData[0].navbar_menu[5].ru }}</span>
							</a>
						</li>
						<li class="navbar-item">
							<a class="menu-item" href="/">
								<div class="item-icon fas fa-question">
									<span class="notif-count">{{ jsonData[0].navbar_menu[6].count }}</span>
								</div>
								<span class="text-item">{{ jsonData[0].navbar_menu[6].en }}</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="section-wrapper">
				<section class="content-spacing">
					<div class="content-header">
						<div class="proj-content-header">
							<h2 class="proj-content-header-item">{{ jsonData[0].navbar_menu[0].ru }}</h2>
							<span class="proj-content-header-count">{{ jsonData[0].navbar_menu[0].count }}</span>
						</div>
						<nav class="content-navbar">
							<ul>
								<li class="content-navbar-item">
									<div class="content-navbar-search">
										<input class="form-search" type="text" value="" placeholder="Поиск...">
										<button class="content-navbar-button">
											<span class="button-icon fas fa-search"></span>
										</button>
									</div>
								</li>
								<li class="content-navbar-item">
									<button class="content-navbar-button">
										<span class="button-icon fas fa-trash"></span>
									</button>
								</li>
								<li class="content-navbar-item">
									<button class="content-navbar-button">
										<span class="button-icon fas fa-plus"></span>
									</button>
								</li>
								<li class="content-navbar-item">
									<button class="content-navbar-button">
										<span class="button-icon fas fa-ellipsis-v"></span>
									</button>
								</li>
							</ul>
						</nav>
					</div>
					<div class="main-content">
						<ol class="content-grid">
							<li class="grid-container" v-for="n in jsonData[0].navbar_menu[0].count">
								<div class="proj-image-container">
									<img class="proj-image" src="../assets/logo.png" alt="">
								</div>
								<div class="proj-information">
									<div class="proj-name">
										<a class="proj-name-item" href="/">TeeMate</a>
										<div class="proj-private" :class="[private ? 'fas fa-lock' : 'fas fa-lock-open']"></div>
									</div>
									<p class="proj-description">some description about your project</p>
								</div>
							</li>
						</ol>
					</div>
				</section>
			</div>
		</main>
	</div>
	<div class="footer-wrapper">
		<footer class="footer-container">
			<ul>
				<li></li>
				<li></li>
				<li>
					<div class="footer-ico header-title">
						<img class="account-image" height="32px" width="32px" src="../assets/logo.png" alt="">
						<span>TeeMate<sup>TM</sup></span>
					</div>
				</li>
				<li></li>
				<li></li>
			</ul>
		</footer>
	</div>
</div>