<main class="main-container">
	<div class="header-wrapper">
		<header class="header-container">
			<div class="brand-item">
				<span class="header-title">TeeMate</span>
			</div>
			<nav class="header-nav">
				<ul class="nav-ul">
					<li class="header-item">
						<NuxtLink to="/signin" class="signin-item">Войти</NuxtLink>
					</li>
					<li class="header-item">
						<NuxtLink to="/signup" class="signup-item">Зарегистрироваться</NuxtLink>
					</li>
				</ul>
			</nav>
			<div class="mobile-navi">
				<a class="hamburger-wrapper-ref" href="/">
					<div class="hamburger">
						<div class="ham1"></div>
						<div class="ham2"></div>
						<div class="ham3"></div>
					</div>
				</a>
			</div>
		</header>
	</div>
	<div class="content-wrapper"></div>
	<div class="footer-wrapper"></div>
</main>