<div class="section-wrapper">
    <section class="section-container">
        <div class="profile-header">
            <div class="profile-background">
                <div class="background-blocks">
                    <div class="profile-avatar-block">
                        <img class="profile-avatar" src="~assets/logo.png" alt="">
                    </div>
                    <div class="profile-names">
                        <div class="user-name">Egor Moroz</div>
                        <span class="user-status">Main developer of this website</span>
                    </div>
                    <div class="user-name-network">online</div>
                </div>
            </div>
            <div class="profile-subbackground">
                <div class="profile-info">
                    <div class="profile-edit">
                        <NuxtLink class="profile-edit-button" to="/">Edit profile</NuxtLink>
                    </div>
                </div>
                <div class="profile-subinfo">
                    <div>
                        <NuxtLink class="subinfo-item" to="/">
                            <h2>5</h2>
                            <span>Projects</span>
                        </NuxtLink>
                    </div>
                    <div>
                        <NuxtLink class="subinfo-item" to="/">
                            <h2>13</h2>
                            <span>Stars</span>
                        </NuxtLink>
                    </div>
                    <div>
                        <NuxtLink class="subinfo-item" to="/">
                            <h2>15</h2>
                            <span>Teammates</span>
                        </NuxtLink>
                    </div>
                    <div>
                        <NuxtLink class="subinfo-item" to="/">
                            <h2>28</h2>
                            <span>Posts</span>
                        </NuxtLink>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-content">
            <div class="profile-post">
                <form class="profile-form">
                    <textarea class="profile-form-input" type="text" placeholder="Write something..."></textarea>
                    <!-- <button class="profile-form-button" type="button">Button</button> -->
                </form>
            </div>
        </div>
    </section>
</div>
