<div class="section-wrapper">
	<section class="content-spacing">
		<div class="content-header">
			<nav class="proj-panel">
				<a class="proj-panel-item proj-panel-default" href="">
					<div class="panel-item-icon fas fa-sign"></div>
					<span class="panel-item-text">Топ проектов</span>
					<span class="proj-content-header-count">0</span>
				</a>
				<a class="proj-panel-item panel-active" href="">
					<div class="panel-item-icon fas fa-code"></div>
					<span class="panel-item-text">Мои проекты</span>
					<span class="proj-content-header-count">{{ Object.keys(Proj[0].project_info).length }}</span>
				</a>
			</nav>
			<div class="content-navbar">
				<ul>
					<li class="content-navbar-item">
						<div class="content-navbar-search">
							<input class="form-search" type="text" value="" placeholder="Поиск...">
							<button class="content-navbar-button">
								<span class="button-icon fas fa-search"></span>
							</button>
						</div>
					</li>
					<li class="content-navbar-item">
						<button class="content-navbar-button">
							<span class="button-icon fas fa-plus"></span>
						</button>
					</li>
					<li class="content-navbar-item">
						<button class="content-navbar-button">
								<span class="button-icon fas fa-trash"></span>
						</button>
					</li>
					<li class="content-navbar-item">
						<button class="content-navbar-button">
							<span class="button-icon fas fa-ellipsis-v"></span>
						</button>
						<ul>
							<li></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="main-content">
			<ol class="content-grid">
				<li class="grid-container" v-for="ProjData in Proj[0].project_info">
					<div class="proj-container-info">
						<div class="proj-image-container">
							<img class="proj-image" src="~/assets/logo.png" alt="">
						</div>
						<div class="proj-information">
							<div>
								<a class="proj-name-item" href="/">
									<span>{{ ProjData.name }}</span>
								</a>
							</div>
							<p class="proj-description">{{ ProjData.description }}</p>
						</div>
					</div>
					<div class="proj-back">
						<div class="proj-back-item">
							<span class="back-item-icon" v-bind:class="{ 'fas fa-lock' : ProjData.private }"></span>
						</div>
						<div class="proj-back-item">
							<span class="back-item-icon fas fa-star"></span>
							<span>{{ ProjData.proj_back[0].stars }}</span>
						</div>
						<div class="proj-back-item">
							<span class="back-item-icon fas fa-comment"></span>
							<span>{{ ProjData.proj_back[0].comments }}</span>
						</div>
						<div class="proj-back-item">
							<span class="back-item-icon fas fa-eye"></span>
							<span>{{ ProjData.proj_back[0].views }}</span>
						</div>
					</div>
				</li>
			</ol>
		</div>
	</section>
</div>