<div class="section-wrapper">
    <section class="section-container">
        <div class="profile-header">
            <div class="profile-background"></div>
            <div class="profile-subbackground">
                <div class="profile-info">
                    <img class="profile-avatar" src="~assets/logo.png" alt="">
                    <div class="profile-edit">
                        <NuxtLink class="profile-edit-button" to="/">Edit profile</NuxtLink>
                    </div>
                    <div class="profile-names">
                        <span class="user-name">Egor Moroz</span>
                        <span class="user-nickname">@yorrdt</span>
                    </div>
                </div>
                <div class="profile-subinfo">
                    <div>
                        <NuxtLink class="subinfo-item" to="/">
                            <h2>5</h2>
                            <span>Projects</span>
                        </NuxtLink>
                    </div>
                    <div>
                        <NuxtLink class="subinfo-item" to="/">
                            <h2>13</h2>
                            <span>Stars</span>
                        </NuxtLink>
                    </div>
                    <div>
                        <NuxtLink class="subinfo-item" to="/">
                            <h2>15</h2>
                            <span>Teammates</span>
                        </NuxtLink>
                    </div>
                    <div>
                        <NuxtLink class="subinfo-item" to="/">
                            <h2>28</h2>
                            <span>Posts</span>
                        </NuxtLink>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-content">
            <div class="profile-post"></div>
        </div>
    </section>
</div>
