.main-container {
	display: flex;
	flex: auto;
	flex-direction: column;
}

.header-wrapper {
	min-width: 320px;
}

.header-container {
	margin: 0 auto;
	padding: 0 48px;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1440px;
}

.header-title {
	font-size: 34px;
}

.header-list > ul {
	display: flex;
}

.header-item {
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
}

.header-item:hover {
	color: var(--gray-color);
	border-color: var(--gray-color) !important;
}

.header-item:not(:last-child) {
	margin-right: 16px;
}

.header-item:last-child {
	padding: 8px 16px;
	border: 1px solid var(--white);
	border-radius: 6px;
}
