/* --------------------------------------------------- */
/* --------------- SECTION_CONTAINER ----------------- */
/* --------------------------------------------------- */

.section-wrapper {
	width: calc(100% - 180px);
	margin-left: 180px;
}

.content-spacing {
	padding: 0 16px 32px 16px;
}

.content-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--white);
	padding: 16px 0;
}

/* --------------------------------------------- */

.proj-content-header {
	display: flex;
	align-items: center;
}

.proj-content-header-item {
	margin-right: 8px;
}

.proj-content-header-count {
	padding: 0 6px;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	background-color: var(--container-light);
	border: 1px solid transparent;
	border-radius: 2em;
	margin-bottom: -4px;
}

/* --------------------------------------------- */

.content-navbar ul {
	display: flex;
}

.content-navbar-item {
	margin-left: 8px;
	display: flex;
}

.form-search {
	background-color: var(--container);
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	padding: 0 8px;
	border: 0;	
	border: 2px solid var(--container-light);
	height: 32px;
}

.content-navbar-button {
	display: flex;
	align-items: center;
	color: var(--white);
	background-color: var(--container-light);
	border-radius: 3px;
	cursor: pointer;
	height: 32px;
	border: 0;
}

.content-navbar-button:hover > .fa-plus { 
	background-color: #2ebc4f;
	border-radius: 3px;
}

.content-navbar-button:hover > .fa-trash { 
	background-color: #cb2431;
	border-radius: 3px;
}

.content-navbar-search {
	display: flex;
	align-items: center;
}

.content-navbar-search > .content-navbar-button {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.button-icon {
	color: var(--white);
	height: 32px;
	width: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 1em;
}

/* ----------------------------------------------------- */

.main-content {
	
}

.content-grid {
	display: grid;
	grid-gap: 16px;
	grid-template-columns: repeat(auto-fill, minmax(460px, 1fr));
}

.proj-image {
	border-radius: 50%;
	height: 100%;
	width: 100%;
	max-width: 100px;
	max-height: 100px;
}

.grid-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	background-color: var(--container);
	border-radius: 8px;
	padding: 16px;
}

.proj-information {
	flex: auto;
}

.proj-name {
	font-size: 28px;
	display: flex;
	align-items: center;
	cursor: pointer;
	line-height: 28px;
}

.proj-image-container {
	border-radius: 50%;
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .3), 0 1px 2px 0 rgba(0, 0, 0, .2);
	margin-right: 16px;
}

.proj-description {
	margin-top: 4px;
	margin-bottom: 16px;
	color: var(--gray-color);
}

.proj-private {
	color: var(--white);
	height: 12px;
	width: 12px;
	line-height: 12px;
	text-align: center;
	font-size: .4em;
	margin-left: 6px;
	margin-bottom: -4px;
}
