.section-wrapper {
    width: 100%;
}

.section-container {
    display: flex;
    flex-direction: column;
}

.profile-header {
    width: 100%;
    margin: 16px 0;
}

.profile-background {
    position: relative;
    background: linear-gradient(transparent 40%, black 100%), url("~assets/2560x1440.jpg");
    background-position: center;
    background-size: cover;
    height: 160px;
    border-radius: 6px 6px 0 0;
}

.background-blocks {
    position: absolute;
    width: 100%;
    bottom: -32px;
    display: flex;
    z-index: 20;
}

.profile-avatar-block {
    margin-left: 16px;
    margin-right: 16px;
}

.profile-avatar {
    display: block;
    border: 4px solid var(--container);
    background-color: var(--container-light);
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

.profile-names {
    display: inline-flex;
    flex-direction: column;
    padding-top: 12px;
}

.user-name {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
}

.user-name-network {
    display: flex;
    padding-top: 6px;
    margin-right: 16px;
    flex: auto;
    align-self: center;
    justify-content: flex-end;
}

.user-status {
    color: var(--white);
}

.profile-subbackground {
    display: flex;
    flex-direction: column;
    background-color: var(--container);
    border-radius: 0 0 6px 6px;
}

.profile-info {
    padding: 12px 16px;
    border-bottom: 1px solid var(--border);
}

.profile-edit {
    display: flex;
    justify-content: flex-end;
}

.profile-edit-button {
    padding: 8px 16px;
    border: 1px solid var(--white);
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
}

.profile-edit-button:hover {
    color: var(--gray-color);
    border-color: var(--gray-color);
}

.profile-subinfo {
    padding: 12px 16px;
    display: flex;
    justify-content: space-around;
}

.subinfo-item {
    text-align: center;
    display: block;
    color: var(--gray-color);
    text-shadow: 0px 0px 4px var(--black);
}

.subinfo-item > h2 {
    color: var(--white);
}

.profile-post {
    display: flex;
    padding: 8px 16px;
    height: 100px;
    background-color: var(--container);
    border-radius: 6px;
}

.profile-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile-form-input {
    flex: auto;
    background-color: var(--background);
    border-radius: 6px;
    line-height: 20px;
    padding: 5px 12px;
    border: 0;
    border: 1px solid var(--container-light);
    outline: none;
    color: var(--gray-color);
    width: 100%;
    height: inherit;
    resize: none;
}
